pandas==2.2.3
numpy==2.2.6
scikit-learn==1.7.0
streamlit==1.45.1
joblib==1.5.1
xgboost==3.0.2
bs4==4.13.4
cloudscraper>=1.2.71
requests>=2.32.3
Pillow==11.2.1
imagehash==4.3.2
osmnx==2.0.3
shap==0.48.0
matplotlib==3.2.3
